@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  border: 1px solid black;
}
body{
  background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}
h1, h2{
  color: white;
  padding: 3rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}

label{
  color: white;
  font-weight: 600;
}